 @import 'variables';
  
  html {
    font-size: $root-font-size;
    font-family: $font-family;
    max-width: $page-width;
    margin: 0 auto;
    text-align: center;
  }
  
  p {
    font-size: $paragraph-font-size;
  }